
/* RESET */
@import 'meyer-reset.css';
@import 'setup.css';

@import 'developer-styles.css'; 
/* comment this ^ out - when you are ready */


/* SETTINGS */
@import 'settings.css'; /* variables/ etc */


/* STRUCTURE */
@import 'structure.css';


/* TYPOGRAPHY */
@import 'typography.css';


/* COMPONENTS */
@import 'components.css';


/* MODULES */
@import 'modules/masthead.css';
@import 'modules/home.css';
@import 'modules/templates/projects-teaser.css';
/*  */
@import 'modules/about.css';
@import 'modules/projects-intro.css';
@import 'modules/article-card.css';
@import 'modules/site-map.css';
@import 'modules/case-studies-intro.css';
@import 'modules/contact.css';
/* should everything/nothing be in it's own file? */



html {
	background-color: var(--background);
}

header {
	margin-top: 8px;
}

main {
	margin-top: 30px;
}


/* SITE SECTIONS */







/* OK! SITE STYLES! */
.site-header {
  background-color: var(--background);
  color: var(--primary);
}

@media (min-width: 768px) {
	.site-header {
		padding: 2px;
		position: sticky;
		top: 0;
		z-index: 100;
	}
}

.home {
	background: var(--offwhite);
}


