
/* RESET */
@import 'meyer-reset.css';
@import 'setup.css';

@import 'developer-styles.css'; 
/* comment this ^ out - when you are ready */


/* SETTINGS */
@import 'settings.css'; /* variables/ etc */


/* STRUCTURE */
@import 'structure.css';


/* TYPOGRAPHY */
@import 'typography.css';


/* COMPONENTS */
@import 'components.css';


/* MODULES */
@import 'modules/masthead.css';
@import 'modules/home.css';
@import 'modules/about.css';
@import 'modules/projects-intro.css';
@import 'modules/article-card.css';
@import 'modules/site-map.css';
@import 'modules/case-studies-intro.css';
@import 'modules/contact.css';
/* should everything/nothing be in it's own file? */



html {
	background-color: var(--background);
}

header {
	margin-top: 8px;
}

main {
	margin-top: 30px;
}


/* SITE SECTIONS */

.site-header {
	
}

@media (min-width: 768px) {
	.site-header {
		padding: 2px;
		position: sticky;
		top: 0;
		z-index: 100;
	}
}






/* OK! SITE STYLES! */
.site-header {
  background-color: var(--background);
  color: var(--primary);
}

/* things kinda just start grouping up... and you'll know when something should be grouped into another file - most of the time */


.get-involved {
  
} /* interesting way to include the whole image in your CSS */

.get-involved inner-column {
	/*max-width:  700px;*/
}

.get-involved call-to-action {

}


.stuff {
  
}

.help-us {
  
}

.site-footer {
	
}

.site-footer .logo {
	
}

