
/* RESET */
@import 'meyer-reset.css';
@import 'setup.css';

@import 'developer-styles.css'; 

/* SETTINGS */
@import 'settings.css'; 


/* STRUCTURE */
@import 'structure.css';


/* TYPOGRAPHY */
@import 'typography.css';


/* COMPONENTS */
@import 'components.css';


/* MODULES */
@import 'modules/masthead.css';
@import 'modules/home.css';
@import 'modules/templates/projects-teaser.css';
@import 'modules/templates/experiments-intro.css';
/*  */
@import 'modules/about.css';
@import 'modules/projects-intro.css';
@import 'modules/article-card.css';
@import 'modules/site-map.css';


body {
	position: relative;
}

header {

}

main {
	position: relative;
	z-index: 3;
	background-color: var(--offwhite);
}

/* Page Style */
.site-header {
	background: var(--offwhite);
	color: var(--primary);
}

@media (min-width: 768px) {
	.site-header {
		padding: 2px;
		position: sticky;
		top: 0;
		z-index: 100;
	}
}

.home {
	padding-top: 100px;
	padding-bottom: 100px;
}

.about {
	padding-top: 60px;
	padding-bottom: 60px;
}

.projects-intro {
	padding-top: 60px;
	padding-bottom: 60px;
}

.site-footer {
	background: var(--color);
	color: var(--white);
	position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}


/* Template Styles */
.off-the-press {
	padding-top: 60px;
	padding-bottom: 60px;
}

.experiment-pens {
	padding-top: 60px;
	padding-bottom: 60px;
}

.talk-to-me {
	background: var(--color);
	color: var(--black);
	padding-top: 60px;
	padding-bottom: 60px;
}