

.intro-voice	{
	font-family: rubik;
	font-size: 40px;
	line-height: 1.2;
}

.attention-voice	{
	font-family: rubik;
	font-size: 36px;
	line-height: 1.2;
}

.mild-voice {
	font-family: rubik;
	font-size: 24px;
	letter-spacing: .2rem;
	-webkit-text-stroke: .5px var(--black);
	color: var(--primary);
}

.low-voice {
	font-family: karla;
	font-size: 1.2rem;
	line-height: 1.4;
}

.calm-voice {
	font-family: karla;
	font-size: 1rem;
	line-height: 1.4;
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
p + p {
	margin-top: 14px;
}

h1 + p {
	margin-top: 20px;
}

h2 + p {
	margin-top: 20px;
}
