
.loud-voice {
	font-family: 'Rubik', sans-serif;
	font-size: 2em;
	font-weight: 700;
	line-height: 1.2;
}

.mild-voice {
	font-family: 'Rubik', sans-serif;
	font-size: 22px;
}

.calm-voice {
	font-family: 'Karla', sans-serif;
	font-size: 1.1em;
	line-height: 1.4;
}

.intro-voice {
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	font-weight: 700;
}

.nav-voice {
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
}

@media (min-width: 768px) {
	.loud-voice {
		font-size: 2.2em;
		width: clamp(20ch, 90vw, 40ch);

	}

	.intro-voice {
		font-size: 22px;
	}
	
	.calm-voice {
		font-size: 1.2em;
		width: clamp(20ch, 90vw, 55ch);
	}
}


/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
p + p {
	margin-top: 14px;
}
