
/* FOOTER STYLES */

footer {
	position: sticky;
	top: 0;
	background: var(--accent);
	color: var(--black);
}

footer-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap:  40px;
	padding: 10px;
}
