@import 'meyer-reset.css';
@import 'setup.css';
@import 'typography.css';

@import 'modules/header.css';
@import 'modules/welcome.css';
@import 'modules/horse.css';
@import 'modules/solidworks.css';
@import 'modules/seegrid.css';


@import 'modules/footer.css';


/* STRUCTURE */
inner-column {
	display: block;
	width: 100%;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
/*	border: 1px solid blue;*/
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow: 1;
}

html {
	--red: #FF1F1F;
	--blue: #D7E9F7;
	--navy: #104471;
	--white: #FCFAEE;
	--black: #1E1C0C;
}

.layout-info {
	border-top: 2px solid var(--navy);
	border-bottom: 2px solid var(--navy);
	padding: 10px;
	text-align: center;
}

.layout-info a {
	display: inline-block;
	text-decoration: underline;
	color: var(--red);
}





