@import 'meyer-reset.css';
@import 'setup.css';
@import 'typography.css';



/* STRUCTURE */
inner-column {
	display: block;
	width: 100%;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
/*	border: 1px solid blue;*/
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow: 1;
}

html {
	--red: #FF1F1F;
	--blue: #A7D3D2;
	--navy: #104471;
	--white: #FCFAEE;
	--black: #1E1C0C;
}





/* HEADER */

header {
	background-color: var(--white);
	min-height: 5vh;
	position: sticky;
	top: 0;
	z-index: 3;
}

nav-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	color: var(--black);
}

.logo {
	font-size: 32px;
	letter-spacing: 1.2;
}

.logo span {
	color: var(--red);
}


/* LANDING */
.landing {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	min-height: 80vh;
	margin-bottom: 30px;

	background-color: #00022B;
	background-position: 50% center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("https://images.unsplash.com/photo-1547731030-cd126f44e9c5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=880&q=80");
}

showcase-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: var(--white);
}

showcase-wrapper h1 + h3 {
	margin-top: 30px;
}



/* RESOURCE */

/* SETUP */
.resource {
	min-height: 30vh;
	padding: 10px;
	margin-bottom: 30px;
	margin-top: 30px;
	position: relative;
}

resource-header {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap:  10px;
	padding: 10px;
	margin-bottom: 20px;
}

resource-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 30px;
}

.resource-1,
.resource-2 {
	display: flex;
	flex-direction: column;
	gap: 30px;
	border: 6px solid black;
	max-height: 300px;
	max-width: 400px;
	padding: 20px;
	transition: .5s;
}

.resource-1:hover {
	transition: .5s;
	background-color: var(--navy);
	color: var(--white);
}

 .resource-2:hover {
 	transition: .5s;
	background-color: var(--white);
	color: var(--red);
 }

.resource-1 a,
.resource-2 a {
	text-decoration: underline;
	font-weight: 700;
}

@media (min-width: 760px) {
	resource-wrapper {
		flex-direction: row;
		justify-content: flex-start;
		gap: 50px;
	}
}


/* SEEGRID */
.seegrid {
	min-height: 60vh;
	background-color: white;
}

seegrid-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap:  30px;
}

seegrid-images {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

seegrid-images img {
	width: 100px;
}

seegrid-text {
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap:  20px;
}

seegrid-text a {
	background-color: var(--red);
	color: var(--white);
	border-radius: 30px;
	text-align: center;
	padding: 10px;
	width: 160px;
	margin-top: 10px;
}

@media (min-width: 760px) {
	.headshot {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}
	seegrid-images img {
		width: 200px;
	}
}







/* SYSTEMS */

.systems {
	min-height: 50vh;
	background-color: white;
	margin-bottom: 30px;
	margin-top: 30px;
	padding: 10px;
}

system-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 20px;
}

.system-head h3 {
	font-weight: 700;
	color: var(--red);
}

.system-head h2 {
	color: var(--navy);
}

.system-head a {
	font-size: 15px;
	background-color: var(--red);
	color: var(--white);
	border-radius: 30px;
	text-align: center;
	vertical-align: center;
	padding: 6px;
	display: inline-block;
	width: 140px;
}

.sys-1 h2,
.sys-2 h2 {
	font-size: 19px;
	color: var(--navy);
}

.sys-1 p, 
.sys-2 p {
	font-size: 15px;
}

.sys-1 a,
.sys-2 a {
	font-size: 15px;
	color: var(--red);
}

.tools,
.integrations {
	width: 50px;
}

.code-1,
.code-2 {
	width: 280px;
}

system-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 50px;
}

.system-head {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 10px;
}

.system-main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 40px;
}

.sys-1,
.sys-2 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 5px;
}

@media (min-width: 700px) {
	system-wrapper {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 80px;
	}
	system-content {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	.system-main {
		display: flex;
		flex-direction: row;
	}
	.code-1,
	.code-2 {
		width: 300px;
	}
}




/* HORSE 

/* SETUP */
.horse {
	min-height: 100vh;
	margin-bottom: 30px;
	margin-top: 30px;
	padding: 10px;
	background-color: white;
}

/* HORSE-HEAD SETUP */
horse-head {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-top: 30px;
}

.horse-links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	
	margin-top: 10px;
}

/* STYLES */

.horse-title {
	color: #F8574E;
	text-align: center;
}

.horse-info {
	text-align: center;
	color: black;
	margin-top: 10px;
}

.horse-links a {
	border-radius: 10px;
	padding: 15px;
	text-align: center;
}

.social {
	background-color: #FF4237;
	color: white;
	width: 200px;
}

.calendar {
	background-color: #D2CCD8;
	color: black;
	width: 250px;
}


/* HORSE-CARDS */

/* SETUP */
horse-cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap:  40px;
	margin-top: 50px;
}

main-card,
sub {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 5px;

	background-color: #F8574E;
	color: white;
	padding: 40px;
	margin-bottom: 30px;
	height: 80%;
	width: 300px;

	position: relative;
	border-radius: 20px;
	box-shadow: 0px 10px 10px 0px lightgrey;
	transition: 1s;
}
.sub-title {
	font-size: 19px;
	padding: 10px;
	width: 200px;
	text-align: center;
	border-radius: 0px 20px 0px 10px;

	position: absolute;
	top: 0;
	right: 0;
}

/* STYLES */
main-card:hover,
sub:hover {
	box-shadow: 0px 10px 10px 0px darkgrey;
	transition: 1s;
}

.card-title {
	margin-top: 20px;
}

sub {
	background-color: white;
	color: #F8574E;
}

main-card .sub-title {
	background-color: white;
	color: #F8574E;
}

sub .sub-title {
	background-color: #F8574E;
	color: white;
}

main-card p,
sub p  {
	margin-top: 10px;
}

.break {
	border: 2px solid grey;
	width: 250px;
	margin-top: 10px;
	margin-bottom: 10px;
}



/* MEDIA QUERIES */
@media (min-width: 760px) {
	main-card {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		padding: 50px;
		border-radius: 100px 20px 100px 20px;
		height: 300px;
		width: 	700px;
	}
	sub {
		flex-direction: column;
		justify-content: 	flex-start;
		height: 600px;
		width: 300px;
	}
	.card-title {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	main-card .break {
		height: 250px;
		width: 0px;
		margin-right: 20px;
	}
	sub-cards .break {
		width: 200px;
	}
	sub-cards {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 50px;
	}
	.horse-links {
		display: flex;
		flex-direction: row;
		margin-top: 20px;
	}
}

@media (min-width: 1000px) {
	main-card {
		width: 	950px;
	}
	sub {
		width: 400px;
		height: 500px;
	}
	sub-cards .break {
		width: 300px;
	}
}





/* SOLIDWORKS */

/* SETUP */
.solidworks {
	min-height: 100vh;
	margin-bottom: 30px;
	margin-top: 30px;
	padding: 20px;
	background-color: white;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	--red: #FF1F4D;
}

grid-wrapper {
	display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: minmax(100px, auto);
  text-align: left;
}

.mod {
	position: relative;
	background-color: var(--white);
}

.mod-3,
.mod-6,
.mod-9 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

/* GRID-SETUP */
.mod-1 {
	grid-column: 1 / 6;
  grid-row: 1 / 2;
}

.mod-2 {
	grid-column: 6 / 11;
  grid-row: 1 / 2;
}

.mod-3 {
	grid-column: 1 / 11;
  grid-row: 2 / 5;
}

.mod-4 {
	grid-column: 1 / 6;
  grid-row: 5 / 6;
}

.mod-5 {
	grid-column: 6 / 11;
  grid-row: 5 / 6;
}

.mod-6 {
	grid-column: 1 / 11;
  grid-row: 6 / 9;
}

.mod-7 {
	grid-column: 1 / 6;
  grid-row: 9 / 10;
}

.mod-8 {
	grid-column: 6 / 11;
  grid-row: 9 / 10;
}

.mod-9 {
	grid-column: 1 / 11;
  grid-row: 10 / 13;
}

/* STRUCTURE */

.mod {
	transition: 0.5s ease-in-out;
	padding: 20px;
}

.mod:hover {
  box-shadow: 0 3px 10px 0 var(--red);
}

.mod h3,
.mod p,
.mod a  {
	margin-top: 10px;
}


/* QUERIES */
@media (min-width: 760px) {
	.solidworks {
		min-height: 50vh;
	}
	.mod-8 {
		grid-column: 1 / 6;
    grid-row: 10 / 11;
	}
	.mod-9 {
		grid-column: 6 / 11;
    grid-row: 9 / 11;
	}
	.mod:hover {
		transition: .5s;
		background-color: rgba(0, 0, 0, 0.9);
		color: white;
	}
}

@media (min-width: 1000px) {
	.solidworks {
		min-height: 50vh;
	}
	.mod-1 {
		grid-column: 1 / 4;
  	grid-row: 1 / 2
	}
	.mod-1:hover {
		transform: translate(-15px, -15px) scale(1.0) rotate(0deg);
	}
	.mod-2 {
		grid-column: 1 / 4;
	  grid-row: 2 / 3
	}
	.mod-2:hover {
		transform: translate(-15px, 0px) scale(1.0) rotate(0deg);
	}
	.mod-3 {
		grid-column: 4 / 8;
	  grid-row: 1 / 3;
	}
	.mod-3:hover {
		transform: translate(0px, -15px) scale(1.0) rotate(0deg);
	}
	.mod-4 {
		grid-column: 8 / 11;
	  grid-row: 1 / 2
	}
	.mod-4:hover {
		transform: translate(15px, -15px) scale(1.0) rotate(0deg);
	}
	.mod-5 {
		grid-column: 8 / 11;
	  grid-row: 2 / 3;
	}
	.mod-5:hover {
		transform: translate(15px, 0px) scale(1.0) rotate(0deg);
	}
	.mod-6 {
		grid-column: 1 / 6;
	  grid-row: 3 / 5;
	}
	.mod-6:hover {
		transform: translate(-15px, 15px) scale(1.0) rotate(0deg);
	}
	.mod-7 {
		grid-column: 6 / 8;
	  grid-row: 3 / 4
	}
	.mod-8 {
		grid-column: 6 / 8;
 	  grid-row: 4 / 5;
	}
	.mod-8:hover {
		transform: translate(0px, 15px) scale(1.0) rotate(0deg);
	}
	.mod-9 {
		grid-column: 8 / 11;
	  grid-row: 3 / 5;
	}
	.mod-9:hover {
		transform: translate(15px, 15px) scale(1.0) rotate(0deg);
	}
	
}





/* SQUAREDOT */

.squaredot {
	min-height: 100vh;
	margin-bottom: 30px;
	margin-top: 30px;
	padding: 10px;

	--yellow: #FFCF43;
	--sky: #EEFCFB;
	--teal: #5CE1E1;
}

business-wrapper {
	min-height: 100vh;
	background-color: var(--sky);
	padding: 20px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 50px;
	
	position: relative;
}

.international-text a,
.multinational-text a {
	font-size: 20px;
}


/* SQUAREDOT HEADER */

business-header {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 20px;
	margin-top: 60px;
}

business-header	a {
	color: 	var(--teal);
	font-weight: 900;
}

.line {
	background-color: var(--yellow);
	padding: 1px;
	width: 100px;
	position: absolute;
	left: 20;
	top: 	60px;
}


/* EXAMPLE HEADERS */

/* SETUP */
.example-headers {
	min-height: 50vh;
	margin-bottom: 30px;
	margin-top: 30px;
	padding: 10px;

	background-color: white;
}

starbucks {
	border: 3px solid green;
	background-color: lightpink;
	padding: 10px;

	display: block;
}

starbucks a {
	border: 2px solid white;
}

.nav-menu {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.user-menu {
	display: inherit;
	gap: 10px;
}

@media (min-width: 760px) {
	.nav-menu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
	}
}



/* SLACK */
.slack {
	background-color: white;
	min-height: 30vh;
	margin-bottom: 30px;
	margin-top: 30px;
	padding: 10px;
}

hero-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 20px;
	padding: 10px;
}

.egg {
	border-radius: 50px 150px 50px 150px;
	padding: 100px;
	width: 50px;
	border: 1px solid black;
}

.hero-text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 10px;
}

@media (min-width: 760px) {
	hero-wrapper {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 40px;
	}
}

/* EXPLORE-WRAPPER */

explore-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 60px;
	margin-top: 100px;
	padding: 10px;

	--lightgreen: #F2FDF8;
	--green: #19A470;
	--lightorange: #FEF1F0;
	--orange: #F65700;
	--lightpurple: #FBECF9;
	--purple: #AA1994;
}

.explore-card {
	padding: 20px;
	width: 300px;
	height: 350px;
	border-radius: 10px;
	box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.4);

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.explore-button {
	color: white;
	border-radius: 5px;
	border: 0px;
	height: 80px;
}

.explore-card a {
	text-decoration: .5px underline;
}

/* INDIVIDUAL-CARD STYLES */

.green {
	background-color: var(--lightgreen);
}

.green a {
	color: var(--green);
}

.green button {
	background-color: var(--green);
}

/**/

.orange {
	background-color: var(--lightorange);
}

.orange a {
	color: var(--orange);
}

.orange button {
	background-color: var(--orange);
}

/**/

.purple {
	background-color: var(--lightpurple);
}

.purple a {
	color: var(--purple);
}

.purple button {
	background-color: var(--purple);
}


/* MEDIA QUERIES */
@media (min-width: 760px) {
	explore-wrapper {
		flex-direction: row;
		justify-content: center;
	}
	.explore-card {
		height: 450px;
		width: 400px;
	}
}

@media (min-width: 1000px) {
	.explore-card {
		height: 400px;
		width: 400px;
	}
}


/* NEWSLETTER WRAPPER */
newsletter-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-top: 100px;
	padding: 10px;

	--maroon: #93003B;
	--pink: #FF94EA;
	--grey: #C9C9C9;
}

.newsletter-head {
	text-align: center;
}

.newsletter-head p {
	margin-top: 10px;
}

.newsletter-main {
	display: flex;
	flex-direction: row;
}

.type-email {
	border: 1px solid var(--pink);
	height: 50px;
	width: 200px;
	padding: 10px;
}

.go {
	background-color: var(--maroon);
	color: white;
	border: 0px;
	text-align: center;
	width: 100px;
	padding: 10px;
}

.newsletter-foot p {
	font-size: 12px;
}

.newsletter-foot p span {
	font-weight: 700;
}

@media (min-width: 760px) {

}



/* FOOTER STYLES */

footer {
	min-height: 10vh;
	position: sticky;
	top: 0;
	background-color: var(--white);
}

footer-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap:  40px;
	padding: 10px;
}

