@import 'meyer-reset.css';
@import 'setup.css';
@import 'typography.css';

@import 'modules/header.css';
@import 'modules/welcome.css';
@import 'modules/horse.css';
@import 'modules/solidworks.css';
@import 'modules/grandcentral.css';
@import 'modules/proofpoint.css';


@import 'modules/footer.css';


/* STRUCTURE */
html {
	--primary: #FF1F1F; /* RED */
	--secondary: #D7E9F7; /* BLUE */
	--tertiary: #104471; /* NAVY */
	--light: #FCFAEE; /* CREAM */
	--dark: #303841; /* LIGHTBLACK */

	--white: #FFFFFF; /* WHITE */
	--black: #000000; /* BLACK */
}

inner-column {
	display: block;
	width: 100%;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
/*	border: 1px solid blue;*/
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow: 1;
}

.layout-info {
	border-top: 2px solid var(--tertiary);
	border-bottom: 2px solid var(--tertiary);
	padding: 10px;
	text-align: center;
}

.layout-info h3 {
	color: var(--tertiary);
}

.layout-info a {
	display: inline-block;
	text-decoration: underline;
	color: var(--primary);
}





