
/* Experiments-Intro Setup */
.experiment-teaser {
	display: block;
	color: var(--black);
}

.experiment-teaser header {
	display: block;
	text-align: center;
}

.experiment-teaser .topic {
	color: var(--color);
}

.experiment-teaser experiment-grid {
	display: flex;
	flex-direction: column;
	gap: 30px;
	/*  */
	margin-top: 20px;	
}

.experiment-teaser experiment-card {
	background: var(--white);
	border-left: 10px solid var(--lightdark);
	box-shadow: -2px 0px 5px 0px var(--lift);
	border-radius: 10px;
   padding: 10px 14px;
}

/* Breakpoints */
@media (min-width: 660px) {
	.experiment-teaser header {
		text-align: initial;
	}
}

@media (min-width: 768px) {
	.experiment-teaser experiment-card {
		width: fit-content;
	}
}