
article-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
  /*  */
  background: var(--lightdark);
  padding: 20px 14px;
}

article-card picture {
  max-width: 300px;
}

article-card .visit {
  transition: .5s;
}

article-card .visit:hover {
  transition: .5s;
  text-decoration: 2px line-through var(--accent);
}

@media (min-width: 660px) {
  article-card {
    border-radius: 10px;
  }
  article-card .calm-voice {
    max-width: clamp(20ch, 35vw, 35ch);
  }
}
