
article-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
  /*  */
  background: var(--lightdark);
  padding: 20px;
  box-shadow: -0px 5px 5px 0px var(--lift);
}

article-card picture {
  max-width: 300px;
}

project-card text-content {
  margin-top: 10px;
} 

@media (min-width: 660px) {
  article-card {
    border-radius: 10px;
  }
  article-card .calm-voice {
    max-width: clamp(20ch, 35vw, 35ch);
  }
}
