
case-intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

case-intro header {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: var(--secondary);
}

case-intro header h2 {
   border-bottom: .5px solid var(--highlight);
}

case-intro study-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

case-intro study-header .langs {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

case-intro engage {
	display: block;
	margin-top: 30px;
	padding: 20px;
}

case-intro study-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;

	background-color: #E6E6E6;
}

case-intro study-main :is(.snippets, .color-swaps) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

case-intro study-main .color-swaps {
	margin-top: 30px;
}

case-intro study-main .color-swaps .circle {
	width: 150px;
	border-radius: 200px;
}

case-intro study-main .color-swaps .circle:nth-of-type(1) {
	border: 2px solid var(--secondary);
}

case-intro study-main .color-swaps .circle:nth-of-type(2) {
	border: 2px solid var(--tertiary);
}

case-intro study-main .color-swaps .circle:nth-of-type(3) {
	border: 2px solid var(--highlight);
}

case-intro study-main .color-swaps .circle:nth-of-type(4) {
	border: 2px solid var(--primary);
}

case-intro study-main .color-swaps .circle:nth-of-type(5) {
	border: 2px solid var(--black);
}

/**/
case-intro study-main .typography {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;

	margin-top: 30px;
}

case-intro study-main .typography .type-face {
		width: 200px;
	}

/**/
case-intro .visit {
	margin-top: 20px;
   max-width: 200px;
   margin-top: 10px;
   padding: 10px;
   text-align: center;
   color: var(--white);
   background-color: var(--secondary);
}

@media (min-width: 600px) {
	case-intro study-main :is(.snippets, .color-swaps) {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 50px;
	}

	case-intro study-main .snippets .screenshot {
		max-width: 200px;
	}

	case-intro study-main .typography {
		flex-direction: row;
		gap: 50px;
	}

	case-intro study-main .typography .type-face {
		max-width: 250px;
	}
}