
/* WELCOME */

landing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

landing :is(statement, mission) {
  padding: 8px 14px;
}

landing statement {
  background: var(--offwhite);
  color: var(--color);
}

landing statement span {
  background:
     linear-gradient(
       to bottom, var(--highlight) 0%,
       var(--highlight) 100%
     );
  background-position: 0 80%;
  background-repeat: repeat-x;
  background-size: 1px 30%;
}

landing mission span {
  color: var(--color);
  font-weight: 700;
}

@media (min-width: 800px) {
  landing :is(statement, mission) {
    max-width: 800px;
  }
}