
/* Landing Styles */

.landing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background: var(--offwhite);
}

.landing :is(header, text-content) {
  padding: 8px 14px;
}

.landing header {
  color: var(--color);
}

.landing header span {
  background:
     linear-gradient(
       to bottom, var(--highlight) 0%,
       var(--highlight) 100%
     );
  background-position: 0 80%;
  background-repeat: repeat-x;
  background-size: 1px 30%;
}

.landing text-content span {
  color: var(--color);
  font-weight: 700;
}