
mast-head {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  padding-top: 10px;
}

mast-head :is(.logo, .site-menu) {
  color: var(--color);
}

mast-head :is(.site-menu, color-switcher) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

mast-head .site-menu color-switcher button {
  border: 2px solid var(--color);
  color: var(--color);
  background: var(--offwhite);
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  mast-head {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}