
articles-intro {
  display: block;
}

articles-intro header {
  color: var(--textcopy);
  text-align: center;
}

articles-intro .topic {
  color: var(--color);
}

articles-intro article-grid {
  display: flex;
  flex-direction: column;
  gap: 50px;
  /*  */
  margin-top: 20px; 
}

@media (min-width: 660px) {
  articles-intro header {
    text-align: initial;
  }
  articles-intro article-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr );
  }
}