
site-map {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 10px;
}

site-map .footer-menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

site-map .footer-menu img {
  max-width: 35px;
}

site-map .logo {
  font-size: 24px;
}