
site-map {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 10px;
}

site-map .footer-menu a {
  color: var(--white);
}

site-map .logo {
  color: var(--white);
  font-size: 24px;
}