
delivery-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

delivery-wrapper delivery {
	display: block;
	background-color: var(--highlight);
}

.home-image {
	width: 100%;
}

.home-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	color: var(--black);
	padding: 20px;
	text-align: center;
}

.home-text a {
	border: 1px solid var(--black);
	border-radius: 20px;
	padding: 10px;
	text-align: center;
	width: 100px;
}

.home-text .store {
	width: 150px;
}

@media (min-width: 768px) {
	delivery-wrapper {
		flex-direction: row;
	}
}