
article-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

article {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.rewards-card {
	background-color: var(--highlight);
}

.team-card {
	background-color: var(--cream);
}

.article-image img {
	width: 100%;
}

.article-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	/*  */
	color: var(--black);
	padding: 40px;
	text-align: center;
}

.article-text .new-user {
	border: 1px solid black;
	border-radius: 20px;
	padding: 10px;
	text-align: center;
	width: 100px;
}

@media (min-width: 768px) {
	.rewards-card {
		flex-direction: row;
	}
	.team-card {
		flex-direction: row-reverse;
	}
}