
products-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

products-wrapper product {
	display: block;
	background-color: var(--secondary);
}

.fresh-image .winter2022 {
	width: 100%;
}

.fresh-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	color: white;
	padding: 20px;
	text-align: center;
}

.fresh-text a {
	border: 1px solid white;
	border-radius: 20px;
	padding: 10px;
	text-align: center;
	width: 100px;
}

@media (min-width: 768px) {
	products-wrapper {
		flex-direction: row;
	}
}