
@import "meyer-reset.css";
@import "reset.css";
@import "structure.css";
@import "typography.css";

@import "modules/site-nav.css";
@import "modules/welcome.css";
@import "modules/about.css";
@import "modules/project-card.css";
@import "modules/footer.css";


/*Settings*/
html {
	--color: #006FFF;
	--highlight: #2A3139;
	--work: #475F77;
	--link: #040506;
}

body {
	background-color: #FFF8F0;
}


