
.strong-voice {
	font-family: microsquare;
	font-weight: 700;
	font-size: 64px;
	color: var(--color);
}

.mid-voice {
	font-family: microsquare;
	font-weight: 500;
	font-size: 48px;
	line-height: 1.2;
	color: var(--work);
}

.low-voice {
	font-family: 'Open Sans', Sans-Serif;
	font-size: 17px;
	line-height: 1.7;
	color: var(--work);
}

.link-voice {
	font-family: 'Open Sans', Sans-Serif;
	font-size: 17px;
	line-height: 1.7;
	color: var(--link);
}

.quiet-voice {
	font-family: 'Open Sans', Sans-Serif;
	font-size: 15px;
	line-height: 1.7;
	color: var(--color);
}

.element {
  font-family: monospace;
  font-size: 19px;
  color: #D66066;
}

.bracket {
  font-family: monospace;
  font-size: 19px;
  color: #4095B4;
}




@media (min-width: 700px) {
	.strong-voice {
		font-size: 52px;
	}
	.mid-voice {
		font-size: 28px;
	}
	.element, .bracket {
    font-size: 18px;
  }
}




