/* SETTINGS  ("variables" in our case) */
html {
	--black: #111111;
	--white: #FFFFFF;
	--greenPrimary: #55d6c2;
	--greenSecondary: #d3f8e2;
	--greyPrimary: #f2f5ff;
	--yellowPrimary: #f5e960;
	--creamPrimary: #FFEFEB;
	--bluePrimary: #2F7DE3;
	--button: #303841;
	--border: 3px solid #424C5A;
}
