
.project-card {
	background: white;
	padding-top: 20px;
	padding-bottom: 10px;
}

.project-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
}

.preview-img {
	max-height: 400px;
	width: 250px;
	padding-bottom: 20px;
}

.project-info {
	padding-top: 10px;
	padding-bottom: 20px;
}

/**/
