@import 'meyer-reset.css';
@import 'setup.css';
@import 'typography.css';



/* STRUCTURE */
inner-column {
	display: block;
	width: 100%;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
/*	border: 1px solid blue;*/
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 30px;
}

html {
	--primary: #4281FA;
	--secondary: #FEF8F0;
}



/* STYLING AND DIALING */

body {
	background-color: var(--secondary);
   color: var(--primary);
}

main {
	position: relative;
	margin-bottom: 30px;
	padding-bottom: 30px;
}

/* HEADER */

.site-header {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
}

/**/

.welcome {
	position: relative;
}

.welcome picture {
	position: absolute;
	top: 40px;
	left: 0;
}