@import 'meyer-reset.css';
@import 'setup.css';
@import 'typography.css';



/* STRUCTURE */
inner-column {
	display: block;
	width: 100%;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
/*	border: 1px solid blue;*/
}

html {
	--primary: #4281FA;
	--secondary: #FEF8F0;
	--dark: #798997;
}

body {
	background-color: var(--secondary);
}

/* STYLING AND DIALING */

/* SITE-HEADER */
.site-header {
	padding: 20px;
	color: var(--primary);
}


/* WELCOME-PAGE */
.welcome {
	padding: 20px;
}

.welcome .intro {
	color: var(--primary);
}

.welcome .profession {
	-webkit-text-stroke: .5px var(--dark);
	color: var(--secondary);
	margin-bottom: 60px;
}

.spacer {
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 1px;
	background-color: var(--dark);
	width: 100%;
}

/**/
.mission {
	max-width: 500px;
	border-left: 1px solid var(--primary);
	padding: 10px;
}


.mission p + p {
	margin-top: 10px;
}