

/* TYPOGRAPHY */

.strong-voice {
	font-family: 'Rubik', Sans-Serif;
	font-size: 36px;
	line-height: 1.5;
	letter-spacing: .2rem;
}

.loud-voice {
	font-family: 'Rubik', Sans-Serif;
	font-size: 28px;
}

.calm-voice {
	font-family: 'Karla', Sans-Serif;
	font-size: 17px;
	line-height: 1.3;
	letter-spacing: .05rem;
}

@media (min-width: 760px) {
	.strong-voice {
		font-size: 60px;
	}
	.loud-voice {
		font-size: 42px;
	}
	.calm-voice {
		font-size: 19px;
	}
}