
call-to-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*  */
  padding:  60px 20px;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

call-to-action :is(h3, p, a) {
  border: var(--border);
  padding: 10px;
  margin-top: 20px;
}

call-to-action a {
  display: inline-block;
  border: none;
  padding: 20px;
  background-color: var(--button);
  color: var(--white);
}

