
call-to-action {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  border: 4px solid var(--yellowHighlight);
  /* */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

call-to-action :is(h3, p, a) {
  border: 2px solid var(--yellowHighlight);
  padding: 10px;
  margin-top:  20px;
}

call-to-action a {
  background-color: var(--black);
  color: var(--yellowPrimary);
}

@media (min-width: 600px) {
  call-to-action {
    padding: 100px;
  }
}
