
graphic-diptych {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /*  */
  padding:  60px 20px;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

graphic-diptych text-content {
  display: block;
  padding: 10px;
  border: var(--border);
}

graphic-diptych text-content h1 {
  text-align: center;
}

graphic-diptych picture {
  border: var(--border);
}

@media (min-width: 768px) {
  graphic-diptych {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  graphic-diptych :is(picture, text-content) {
    width: 50%;
  }
}
