
mast-head {
  display: block;
  border: 4px solid var(--greenHighlight);
  padding: 10px;
}

mast-head nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

mast-head a {
  border: 2px solid var(--greenHighlight);
  padding:  10px;
}

@media (min-width: 600px) {
  mast-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
