
mast-head {
  display: block;
  padding: 10px;
}

mast-head :is(.site-menu, .user-menu) {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

mast-head a {
  border: var(--border);
  padding:  10px;
}

.user-menu {
  padding: 5px 0px;
}

@media (min-width: 600px) {
  mast-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .user-menu {
    padding: initial;
  }
}