/* SEEGRID */

/* SETUP */
.seegrid {
	min-height: 60vh;
	background-color: var(--navy);
	margin-top: 30px;
	margin-bottom: 30px;

	--navy: #002642;
	--white: #FFFFFF;
	--blue: #0082CD;
}

seegrid-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap:  30px;

	position: relative;
}

seegrid-images {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

seegrid-images img {
	width: 100px;
}

seegrid-text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap:  20px;

	color: var(--white);
}

seegrid-text a {
	background-color: var(--blue);
	color: var(--white);
	border-radius: 30px;
	padding: 10px;
	width: 160px;
	margin-top: 10px;
	text-align: center;
}

@media (min-width: 760px) {
	seegrid-images {
		flex-direction: row;
	}
	.headshot {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	seegrid-images img {
		width: 200px;
	}
	seegrid-text {
		padding: 40px;
	}
}