
/* RESET */
@import 'meyer-reset.css';
@import 'setup.css';
@import 'typography.css';

/* MODULES */
@import 'modules/masthead.css';
@import 'modules/bbcnews.css';
@import 'modules/starbucks.css';
@import 'modules/solidworks.css';
@import 'modules/grandcentral.css';
@import 'modules/proofpoint.css';
@import 'modules/paperpillar.css';

@import 'modules/footer.css';


/* STRUCTURE */
html {
	--white: #FFFFFF; /* WHITE */
	--black: #000000; /* BLACK */
	--color: #44505D; /* DARKGREY */
	--accent: #EBF1FB; /* LIGHTBLUE */
	--shadow: #D0E0FB; /* SKYBLUE */
}

inner-column {
	display: block;
	width: 100%;
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow: 1;
}


/* Section Headers */
.layout-info {
	border-top: 2px solid var(--color);
	border-bottom: 2px solid var(--color);
	padding: 10px;
	margin-top: 10px;
	text-align: center;
}

.layout-info h3 {
	color: var(--black);
}

.layout-info a {
	display: inline-block;
	text-decoration: underline;
	color: var(--black);
}

/* Header Style */
.site-header {
	background: var(--accent);
	position: sticky;
	top: 0;
	z-index: 100;
	box-shadow: 0px 2px 4px 2px var(--shadow);
}







