
/* TYPOGRAPHY */

.strong-voice {
	font-family: oswald, regular;
	font-size: 60px;
	line-height: 1.2;
	letter-spacing: 0.05em; 
}

.loud-voice {
	font-family: oswald, regular;
	font-size: 30px;
	line-height: 1.3;
}

.mild-voice {
	font-family: oswald, regular;
	font-size: 24px;
	line-height: 1.3;
	letter-spacing: 1.5px;
}

.slow-voice {
	font-family: oswald, regular;
	font-size: 19px;
	line-height: 1.5;
	letter-spacing: 1.5px;
}

.quiet-voice {
	font-family: 'Quattrocento', Serif;
	font-size: 1.1rem;
	line-height: 1.5;
	letter-spacing: 0.05em; 
}

.nav-voice {
	font-family: 'Quattrocento', Serif;
	font-size: 19px;
}

.link-voice {
	font-family: 'Quattrocento', Serif;
	font-size: 17px;
	line-height: 1.5;
}

/* MEDIA QUERIES */
@media (min-width: 760px) {
	.strong-voice {
		font-size: 86px;
	}
	.mild-voice {
		font-size: 30px;
	}
	.loud-voice {
		font-size: 36px;
	}
	.quiet-voice {
		font-size: 19px;
	}
	.slow-voice {
		font-size: 24px;
	}
}