
/*Typography*/
.strong-voice {
	font-family: 'Open Sans', Sans-Serif;
	font-size: 32px;
	line-height: 1.2;
}

.medium-voice {
	font-family: 'Open Sans', Sans-Serif;
	font-size: 22px;
	line-height: 1.5;
	font-weight: 700;
}

.low-voice {
	font-family: 'Open Sans', Sans-Serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 500;
}

.quiet-voice {
	font-family: 'Open Sans', Sans-Serif;
	font-size: 15px;
	line-height: 1.5;
	font-weight: 500;
}

.nav-voice {
	font-family: 'Open Sans', Sans-Serif;
	font-size: 17px;
	font-weight: 700;
}

.link-voice {
	font-family: 'Open Sans', Sans-Serif;
	font-size: 14px;
	font-weight: 700;
}


@media (min-width: 800px) {
	.strong-voice {
		font-size: 50px;
	}
	.medium-voice {
		font-size: 24px;
	}
}