
/*Typography*/
.strong-voice {
	font-family: franklin gothic;
	font-size: 24px;
	line-height: 1.2;
}

.medium-voice {
	font-family: franklin gothic;
	font-size: 19px;
	line-height: 1.5;
}

.low-voice {
	font-family: helvetica;
	font-size: 17px;
	line-height: 1.5;
}

.quiet-voice {
	font-family: "helvetica, neue";
	font-size: 15px;
	line-height: 1.5;
	font-weight: 500;
}

.nav-voice {
	font-family: franklin gothic;
	font-size: 17px;
}

.link-voice {
	font-family: franklin gothic;
	font-size: 14px;
}


@media (min-width: 800px) {
	.strong-voice {
		font-size: 50px;
	}
	.medium-voice {
		font-size: 24px;
	}
}